Client/xml-resources/web-service-references/FunzioniService/wsdl/localhost_8080/Metabolismo/FunzioniService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Metabolismo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Metabolismo/" name="FunzioniService">
<types>
<xsd:schema>
<xsd:import namespace="http://Metabolismo/" schemaLocation="http://localhost:8080/Metabolismo/FunzioniService?xsd=1"/>
</xsd:schema>
</types>
<message name="Addizione">
<part name="parameters" element="tns:Addizione"/>
</message>
<message name="AddizioneResponse">
<part name="parameters" element="tns:AddizioneResponse"/>
</message>
<message name="Divisione">
<part name="parameters" element="tns:Divisione"/>
</message>
<message name="DivisioneResponse">
<part name="parameters" element="tns:DivisioneResponse"/>
</message>
<message name="Potenza">
<part name="parameters" element="tns:Potenza"/>
</message>
<message name="PotenzaResponse">
<part name="parameters" element="tns:PotenzaResponse"/>
</message>
<message name="Sottrazione">
<part name="parameters" element="tns:Sottrazione"/>
</message>
<message name="SottrazioneResponse">
<part name="parameters" element="tns:SottrazioneResponse"/>
</message>
<message name="Moltiplicazione">
<part name="parameters" element="tns:Moltiplicazione"/>
</message>
<message name="MoltiplicazioneResponse">
<part name="parameters" element="tns:MoltiplicazioneResponse"/>
</message>
<portType name="Funzioni">
<operation name="Addizione">
<input wsam:Action="http://Metabolismo/Funzioni/AddizioneRequest" message="tns:Addizione"/>
<output wsam:Action="http://Metabolismo/Funzioni/AddizioneResponse" message="tns:AddizioneResponse"/>
</operation>
<operation name="Divisione">
<input wsam:Action="http://Metabolismo/Funzioni/DivisioneRequest" message="tns:Divisione"/>
<output wsam:Action="http://Metabolismo/Funzioni/DivisioneResponse" message="tns:DivisioneResponse"/>
</operation>
<operation name="Potenza">
<input wsam:Action="http://Metabolismo/Funzioni/PotenzaRequest" message="tns:Potenza"/>
<output wsam:Action="http://Metabolismo/Funzioni/PotenzaResponse" message="tns:PotenzaResponse"/>
</operation>
<operation name="Sottrazione">
<input wsam:Action="http://Metabolismo/Funzioni/SottrazioneRequest" message="tns:Sottrazione"/>
<output wsam:Action="http://Metabolismo/Funzioni/SottrazioneResponse" message="tns:SottrazioneResponse"/>
</operation>
<operation name="Moltiplicazione">
<input wsam:Action="http://Metabolismo/Funzioni/MoltiplicazioneRequest" message="tns:Moltiplicazione"/>
<output wsam:Action="http://Metabolismo/Funzioni/MoltiplicazioneResponse" message="tns:MoltiplicazioneResponse"/>
</operation>
</portType>
<binding name="FunzioniPortBinding" type="tns:Funzioni">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Addizione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Divisione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potenza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sottrazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Moltiplicazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FunzioniService">
<port name="FunzioniPort" binding="tns:FunzioniPortBinding">
<soap:address location="http://localhost:8080/Metabolismo/FunzioniService"/>
</port>
</service>
</definitions>