Client/xml-resources/web-service-references/FunzioniService/wsdl/localhost_8080/Metabolismo/FunzioniService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Metabolismo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Metabolismo/">

<xs:element name="Addizione" type="tns:Addizione"/>

<xs:element name="AddizioneResponse" type="tns:AddizioneResponse"/>

<xs:element name="Divisione" type="tns:Divisione"/>

<xs:element name="DivisioneResponse" type="tns:DivisioneResponse"/>

<xs:element name="Moltiplicazione" type="tns:Moltiplicazione"/>

<xs:element name="MoltiplicazioneResponse" type="tns:MoltiplicazioneResponse"/>

<xs:element name="Potenza" type="tns:Potenza"/>

<xs:element name="PotenzaResponse" type="tns:PotenzaResponse"/>

<xs:element name="Sottrazione" type="tns:Sottrazione"/>

<xs:element name="SottrazioneResponse" type="tns:SottrazioneResponse"/>

<xs:complexType name="Addizione">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddizioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Moltiplicazione">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoltiplicazioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Divisione">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivisioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Potenza">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PotenzaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Sottrazione">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SottrazioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>